In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
#from sklearn import cross_validation
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [17]:
df = pd.read_csv('/Users/hp/Downloads/creditdata.csv')

In [18]:
df.head()

   clientid       income        age         loan  default
0         1  66155.92510  59.017015  8106.532131        0
1         2  34415.15397  48.117153  6564.745018        0
2         3  57317.17006  63.108049  8020.953296        0
3         4  42709.53420  45.751972  6103.642260        0
4         5  66952.68885  18.584336  8770.099235        1

In [19]:
df.describe()

          clientid        income          age          loan      default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459720    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117310    41.317159   3974.719418     0.000000
75%    1500.250000  57791.281670    52.587040   6432.410625     0.000000
max    2000.000000  69995.685580    63.971796  13766.051240     1.000000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   clientid  2000 non-null   int64
 1   income    2000 non-null   float64
 2   age       1997 non-null   float64
 3   loan      2000 non-null   float64
 4   default   2000 non-null   int64
dtypes: float64(3), int64(2)
memory usage: 78.2 KB

In [21]:
df.isnull().sum()

clientid    0
income      0
age         3
loan        0
default     0
dtype: int64

In [22]:
df.shape

(2000, 5)

In [23]:
df.columns

Index(['clientid', 'income', 'age', 'loan', 'default'], dtype='object')

In [24]:
df.corr()

          clientid    income       age      loan   default
clientid  1.000000  0.039280 -0.014704  0.018931 -0.020145
income    0.039280  1.000000 -0.033687  0.441117  0.002284
age      -0.014704 -0.033687  1.000000  0.002309 -0.429759
loan      0.018931  0.441117  0.002309  1.000000  0.377160
default  -0.020145  0.002284 -0.429759  0.377160  1.000000

In [28]:
x = df[['income', 'loan']] #input/feature
y = df['default'] #output

In [30]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
model = LogisticRegression()
model.fit = model.fit(x,y)
prediction = model.fit.predict(x_test)

print(confusion_matrix(y_test, prediction))
print(accuracy_score(y_test, prediction))

[[476  34]
 [ 71  19]]
0.825