In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Fish.xls')
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [4]:
df.shape

(159, 7)

In [22]:
##creating a model for predicting weight based on length1
x=df[["Length1"]]

In [23]:
y=df["Weight"]

In [26]:
x.shape

(159, 1)

In [27]:
y.shape

(159,)

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
lr = LinearRegression()

In [30]:
lr.fit(x,y) #model training

LinearRegression()

In [32]:
lr.predict([[24]]) #predict with the manual parameter

array([324.63685434])

In [35]:
lr.predict([[24],[25],[26]]) #predict with multiple manual parameter

array([324.63685434, 357.42901824, 390.22118213])

In [40]:
y_pred = lr.predict(x) #save all the prediction in y_pred variable

In [41]:
from sklearn.metrics import mean_squared_error

In [42]:
mean_squared_error(y, y_pred) # mean_squared_error(output, predicted output)

20562.256518291095

In [45]:
df.columns

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

In [51]:
##2nd time retrain the model for predicting weight based on all parameters
x1=df.drop(['Species','Weight'], axis=1)

In [47]:
y=df["Weight"]

In [52]:
x1.shape

(159, 5)

In [49]:
y.shape

(159,)

In [50]:
lr=LinearRegression()

In [53]:
lr.fit(x1,y) #train with multiple parameters

LinearRegression()

In [54]:
y_pred1=lr.predict(x1) #new prediction

In [55]:
mean_squared_error(y, y_pred1) #prediction accuracy is increasing with multiple parameters

14607.878944541942

In [56]:
df.columns

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

In [58]:
df["Species"].unique() #assignment replace value with 1,2,3,4,5,6,7

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [59]:
from sklearn.preprocessing import LabelEncoder

In [60]:
le = LabelEncoder()

In [63]:
le.fit_transform(df["Species"])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 6, 6, 6, 6, 6, 6, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5])

In [64]:
df["Species_New"]=le.fit_transform(df["Species"])

In [65]:
x2 = df.drop(["Species","Weight"], axis=1)

In [66]:
x2.shape

(159, 6)

In [67]:
y.shape

(159,)

In [68]:
lr.fit(x2,y)

LinearRegression()

In [69]:
y_pred2 = lr.predict(x2)

In [70]:
mean_squared_error(y,y_pred2)

13425.904348982427

In [71]:
df.shape

(159, 8)

In [72]:
##DataSpit Test (Train, Test)

In [73]:
from sklearn.model_selection import train_test_split

In [74]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [75]:
X_train.shape

(127, 5)

In [76]:
X_test.shape

(32, 5)

In [77]:
y_train.shape

(127,)

In [78]:
y_test.shape

(32,)

In [79]:
lr.fit(X_train, y_train)

LinearRegression()

In [80]:
y_pred3 = lr.predict(X_test)

In [81]:
mean_squared_error(y_test, y_pred3)

17577.192712105872

In [82]:
df.shape

(159, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [13]:
df["Species"][0]

'Bream'

In [14]:
df.columns

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

In [15]:
df_group = df.groupby("Species")

In [20]:
df_group.nunique()

           Weight  Length1  Length2  Length3  Height  Width
Species
Bream          27       29       20       31      35     35
Parkki         11       10       10       10      11     11
Perch          41       43       39       44      53     52
Pike           15       15       15       15      16     16
Roach          18       18       17       18      20     20
Smelt          12       13       13       12      13     13
Whitefish       5        6        6        6       6      6