In [1]:
# import required libraries
import pandas as pd
import numpy as np

In [2]:
# creating initial dataframe
bridge_types = ('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
bridge_df = pd.DataFrame(bridge_types, columns=['Bridge_Types'])

In [3]:
bridge_df

  Bridge_Types
0         Arch
1         Beam
2        Truss
3   Cantilever
4    Tied Arch
5   Suspension
6        Cable

In [4]:
# converting type of columns to 'category'
bridge_df['Bridge_Types'] = bridge_df['Bridge_Types'].astype('category')

In [6]:
bridge_df['Bridge_Types']

0          Arch
1          Beam
2         Truss
3    Cantilever
4     Tied Arch
5    Suspension
6         Cable
Name: Bridge_Types, dtype: category
Categories (7, object): ['Arch', 'Beam', 'Cable', 'Cantilever', 'Suspension', 'Tied Arch', 'Truss']

In [7]:
# Assigning numerical values and storing in another column
bridge_df['Bridge_Types_Cat'] = bridge_df['Bridge_Types'].cat.codes
bridge_df

  Bridge_Types  Bridge_Types_Cat
0         Arch                 0
1         Beam                 1
2        Truss                 6
3   Cantilever                 3
4    Tied Arch                 5
5   Suspension                 4
6        Cable                 2

In [8]:
#Using sci-kit learn library approach
from sklearn.preprocessing import LabelEncoder

In [9]:
# creating instance of labelencoder
le = LabelEncoder()

In [15]:
le.fit_transform(bridge_df['Bridge_Types'])

array([0, 1, 6, 3, 5, 4, 2])

In [10]:
# Assigning numerical values and storing in another column
bridge_df['Bridge_Types_Cat'] = le.fit_transform(bridge_df['Bridge_Types'])
bridge_df

  Bridge_Types  Bridge_Types_Cat
0         Arch                 0
1         Beam                 1
2        Truss                 6
3   Cantilever                 3
4    Tied Arch                 5
5   Suspension                 4
6        Cable                 2

In [11]:
#One-Hot Encoder
from sklearn.preprocessing import OneHotEncoder

In [12]:
# creating instance of one-hot-encoder
oh = OneHotEncoder(handle_unknown='ignore')

In [13]:
# passing bridge-types-cat column (label encoded values of bridge_types)
oh_df = pd.DataFrame(oh.fit_transform(bridge_df[['Bridge_Types_Cat']]).toarray())
oh_df

     0    1    2    3    4    5    6
0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  1.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  1.0  0.0
5  0.0  0.0  0.0  0.0  1.0  0.0  0.0
6  0.0  0.0  1.0  0.0  0.0  0.0  0.0

In [14]:
# merge with main df bridge_df on key values
bridge_df = bridge_df.join(oh_df)
bridge_df

  Bridge_Types  Bridge_Types_Cat    0    1    2    3    4    5    6
0         Arch                 0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1         Beam                 1  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2        Truss                 6  0.0  0.0  0.0  0.0  0.0  0.0  1.0
3   Cantilever                 3  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4    Tied Arch                 5  0.0  0.0  0.0  0.0  0.0  1.0  0.0
5   Suspension                 4  0.0  0.0  0.0  0.0  1.0  0.0  0.0
6        Cable                 2  0.0  0.0  1.0  0.0  0.0  0.0  0.0

In [ ]:
#get_feature_names()

In [26]:
df = pd.DataFrame({'Sex':['male', 'female']*3, 'AgeGroup':[0,15,30,45,60,75]})

In [27]:
df

      Sex  AgeGroup
0    male         0
1  female        15
2    male        30
3  female        45
4    male        60
5  female        75

In [18]:
oh = OneHotEncoder()

In [29]:
df_oh = oh.fit_transform(df[['Sex', 'AgeGroup']])
df_oh

<6x8 sparse matrix of type '<class 'numpy.float64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [28]:
df1=df_oh.toarray()
df1

array([[0., 1., 1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0., 0., 0., 1.]])

In [20]:
oh.get_feature_names()

array(['x0_female', 'x0_male', 'x1_0', 'x1_15', 'x1_30', 'x1_45', 'x1_60',
       'x1_75'], dtype=object)

In [33]:
oh.get_feature_names(['Sex','Age_Group'])

array(['Sex_female', 'Sex_male', 'Age_Group_0', 'Age_Group_15',
       'Age_Group_30', 'Age_Group_45', 'Age_Group_60', 'Age_Group_75'],
      dtype=object)