In [2]:
import pandas as pd

In [4]:
df= pd.read_csv("fish.xls")

In [5]:
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [6]:
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [7]:
df.columns

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

In [8]:
df.Species.unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le=LabelEncoder()

In [11]:
le.fit_transform(df['Species'])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 6, 6, 6, 6, 6, 6, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5])

In [12]:
df["Species_New"]=le.fit_transform(df['Species'])

In [20]:
df.groupby("Species").size()

Species
Bream        35
Parkki       11
Perch        56
Pike         17
Roach        20
Smelt        14
Whitefish     6
dtype: int64

In [21]:
df.groupby("Species_New").size()

Species_New
0    35
1    11
2    56
3    17
4    20
5    14
6     6
dtype: int64

In [25]:
df.groupby("Species").min()

           Weight  Length1  Length2  Length3   Height   Width  Species_New
Species
Bream       242.0     23.2     25.4     30.0  11.5200  4.0200            0
Parkki       55.0     13.5     14.7     16.5   6.5772  2.3142            1
Perch         5.9      7.5      8.4      8.8   2.1120  1.4080            2
Pike        200.0     30.0     32.3     34.8   5.5680  3.3756            3
Roach         0.0     12.9     14.1     16.2   4.1472  2.2680            4
Smelt         6.7      9.3      9.8     10.8   1.7284  1.0476            5
Whitefish   270.0     23.6     26.0     28.7   8.1454  4.2476            6

In [23]:
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width  Species_New
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200            0
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056            0
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961            0
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555            0
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340            0

In [26]:
from sklearn.preprocessing import OneHotEncoder

In [27]:
oh = OneHotEncoder()

In [31]:
array=oh.fit_transform(df[["Species"]]) 
#array=object(sparse matrix)

In [ ]:
0 0 0 1
0 0 1 0

In [38]:
type(array)

scipy.sparse.csr.csr_matrix

In [34]:
sample_array=array.toarray()

In [35]:
sample_array

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [57]:
df[oh.get_feature_names()]=sample_array

In [58]:
df

,Weight,Length1,Length2,Length3,Height,Width,x0_Bream,x0_Parkki,x0_Perch,x0_Pike,x0_Roach,x0_Smelt,x0_Whitefish
0,242.0,23.2,25.4,30.0,11.5200,4.0200,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,290.0,24.0,26.3,31.2,12.4800,4.3056,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,340.0,23.9,26.5,31.1,12.3778,4.6961,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,363.0,26.3,29.0,33.5,12.7300,4.4555,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,430.0,26.5,29.0,34.0,12.4440,5.1340,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,12.2,11.5,12.2,13.4,2.0904,1.3936,0.0,0.0,0.0,0.0,0.0,1.0,0.0
155,13.4,11.7,12.4,13.5,2.4300,1.2690,0.0,0.0,0.0,0.0,0.0,1.0,0.0
156,12.2,12.1,13.0,13.8,2.2770,1.2558,0.0,0.0,0.0,0.0,0.0,1.0,0.0
157,19.7,13.2,14.3,15.2,2.8728,2.0672,0.0,0.0,0.0,0.0,0.0,1.0,0.0
158,19.9,13.8,15.0,16.2,2.9322,1.8792,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [59]:
x=df.drop('Weight',axis=1)

In [60]:
y=df['Weight']

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
X_train, X_test, y_train, y_test =train_test_split(x,y, test_size=0.2)

In [63]:
from sklearn.linear_model import LinearRegression

In [64]:
lr= LinearRegression()

In [65]:
lr.fit(X_train, y_train)

LinearRegression()

In [67]:
y_pred = lr.predict(X_test)

In [68]:
from sklearn.metrics import mean_squared_error

In [69]:
mean_squared_error(y_test, y_pred)

8763.876192649532