In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Fish.xls')

In [3]:
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [4]:
df.columns

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

In [5]:
df.Species.unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le = LabelEncoder()

In [8]:
le.fit_transform(df['Species'])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 6, 6, 6, 6, 6, 6, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5])

In [9]:
#create label with new species_new columns
df["Species_New"]=le.fit_transform(df['Species'])

In [10]:
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width  Species_New
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200            0
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056            0
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961            0
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555            0
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340            0

In [11]:
df.groupby("Species_New").size()

Species_New
0    35
1    11
2    56
3    17
4    20
5    14
6     6
dtype: int64

In [12]:
df.groupby("Species").min()

           Weight  Length1  Length2  Length3   Height   Width  Species_New
Species
Bream       242.0     23.2     25.4     30.0  11.5200  4.0200            0
Parkki       55.0     13.5     14.7     16.5   6.5772  2.3142            1
Perch         5.9      7.5      8.4      8.8   2.1120  1.4080            2
Pike        200.0     30.0     32.3     34.8   5.5680  3.3756            3
Roach         0.0     12.9     14.1     16.2   4.1472  2.2680            4
Smelt         6.7      9.3      9.8     10.8   1.7284  1.0476            5
Whitefish   270.0     23.6     26.0     28.7   8.1454  4.2476            6

In [13]:
df.drop("Species_New", axis=1, inplace=True)
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [14]:
#Now creating label with OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

In [15]:
oh = OneHotEncoder()

In [16]:
oh.fit_transform(df[["Species"]])

<159x7 sparse matrix of type '<class 'numpy.float64'>'
	with 159 stored elements in Compressed Sparse Row format>

In [17]:
array = oh.fit_transform(df[["Species"]])

In [18]:
#cast to spars matrix to array
sample_array= array.toarray() 
sample_array

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [19]:
oh.get_feature_names()

array(['x0_Bream', 'x0_Parkki', 'x0_Perch', 'x0_Pike', 'x0_Roach',
       'x0_Smelt', 'x0_Whitefish'], dtype=object)

In [20]:
#oh.get_feature_names(['Species'])

In [21]:
df[oh.get_feature_names()]=sample_array

In [48]:
df.head()

,Species,Weight,Length1,Length2,Length3,Height,Width,x0_Bream,x0_Parkki,x0_Perch,x0_Pike,x0_Roach,x0_Smelt,x0_Whitefish
0,Bream,242.0,23.2,25.4,30.0,11.5200,4.0200,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Bream,290.0,24.0,26.3,31.2,12.4800,4.3056,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Bream,340.0,23.9,26.5,31.1,12.3778,4.6961,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bream,363.0,26.3,29.0,33.5,12.7300,4.4555,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Bream,430.0,26.5,29.0,34.0,12.4440,5.1340,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [61]:
x=df.drop(['Weight', 'Species'], axis=1)

In [62]:
y=df['Weight']

In [63]:
from sklearn.model_selection import train_test_split

In [64]:
X_train, X_test, y_train, y_test =train_test_split(x,y, test_size=0.2)

In [65]:
X_train.shape

(127, 12)

In [66]:
y_train.shape

(127,)

In [67]:
X_test.shape

(32, 12)

In [68]:
y_test.shape

(32,)

In [69]:
from sklearn.linear_model import LinearRegression

In [70]:
lr = LinearRegression()

In [71]:
lr.fit(X_train, y_train)

LinearRegression()

In [72]:
y_pred = lr.predict(X_test)

In [73]:
from sklearn.metrics import mean_squared_error

In [74]:
mean_squared_error(y_test, y_pred)

6788.062623329038

In [75]:
from sklearn.linear_model import Lasso, Ridge

In [79]:
rr = Ridge(alpha=0.5) #create ridge model

In [84]:
rr.fit(X_train,y_train) #train the ridge model

Ridge(alpha=0.5)

In [85]:
y_pred = rr.predict(X_test) #prediction

In [86]:
mean_squared_error(y_test, y_pred) #check error

6349.342767433172

In [87]:
les = Lasso(normalize=True) #create lasso model

In [88]:
les.fit(X_train, y_train)#model training

Lasso(normalize=True)

In [89]:
y_pred = les.predict(X_test)

In [90]:
mean_squared_error(y_test, y_pred)

5734.855034722665